@using Spreadtrum.LHD.Entity.Lots
@using Spreadtrum.LHD.Entity.Users;
@using Spreadtrum.LHD.Mvc.Areas.Shared;
@model IList<Vendors>
@{
    Layout = "~/Areas/Shared/mMasterpage.cshtml";
    var role = BaseController.CurrentUserInfo.Role;
    int roleType = 1;
    int ispeqa = 1;
    if (role == UserRoles.PE || role == UserRoles.PEAdmin)
    {
        roleType = 2;
        ispeqa = 1;
    }
    if (role == UserRoles.QA || role == UserRoles.QAAdmin)
    {
        roleType = 3;
         ispeqa = 1;
    }
    if (role == UserRoles.Fab || role == UserRoles.FabAdmin)
    {
        roleType = 4;
        ispeqa = 2;
    }
}
@section css{
    <link href="~/Areas/Lots/Contents/Query/Query.css" rel="stylesheet" />
    @*<link href="~/Scripts/Jquery/UI/external/jquery.datetimepicker.css" rel="stylesheet" />*@
     <link href="~/Content/Bootstrap/daterangepicker.css" rel="stylesheet">

    <style>
        .uploadButtons {
            padding-top: 10px;
            padding-left: 0px;
        }

        .fix-table {
            table-layout: fixed;
            width: 2048px;
        }

            .fix-table td {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

        #MessageCount {
            width: 90px;
        }

        #thSelect {
            width: 90px;
        }

        #thPart_ID {
            width: 100px;
        }

        #ththLotType {
            width: 90px;
        }

        #thStatus {
            width: 140px;
        }

        #thLotType {
            width: 90px;
        }

        #thLotNO {
            width: 90px;
        }

        #thAutoJudgeResult {
            width: 100px;
        }

        #thHoldReason {
            width: 260px;
        }

        #thManualHold {
            width: 90px;
        }

        #thQADispose {
            width: 100px;
        }

        #thPEDispose {
            width: 100px;
        }

        #thSuspectRootCause {
            width: 100px;
        }

        #thSPRDDecision {
            width: 130px;
        }

        #thCompletionDate {
            width: 180px;
        }

        #thQtyIn {
            width: 90px;
        }

        #thYield {
            width: 90px;
        }

        #thComment {
            width: 260px;
        }

        .p80 {
            width: 80%;
        }

        .daytdclass {
            background: #FF7F00;
        }

        .day3tdclass {
            background: #FF0000;
        }
        .wrapper-content {
            padding: 0px 10px 10px;
        }

        .ibox-content {
            padding: 5px 5px 20px 5px;
        }
    </style>
}
@section js{
    <script src="~/Content/KaYiLib/Uploader/Referenced/swfupload.cookies.js"></script>
    <script src="~/Content/KaYiLib/Uploader/Referenced/swfupload.js"></script>
    <script src="~/Content/KaYiLib/Uploader/Referenced/swfupload.proxy.js"></script>
    <script src="~/Content/KaYiLib/Uploader/Referenced/swfupload.queue.js"></script>
    <script src="~/Content/KaYiLib/Uploader/Referenced/swfupload.speed.js"></script>
    <script src="~/Areas/Lots/Contents/Wafer/List.js"></script>
    @*<script src="~/Scripts/Jquery/UI/external/jquery.datetimepicker.full.js"></script>*@
<script src="~/scripts/Bootstrap/moment.js"></script>
<script src="~/scripts/Bootstrap/daterangepicker.js"></script>
    <script type="text/javascript">
        var roletype = @roleType;
        var vendorstatus=@((int)WaferStatus.WaitVendor);
    </script>
}
<div class="row">
    <div class="col-lg-12" style="padding-left:3px;padding-right:0px">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="btu_list" style="position: fixed; top: -40px; right: 0; z-index: 0;padding-right:10px">
                    <a href="#QueryTr" data-toggle="collapse" class="btn btn-primary operate_buttons">Query</a>
                    <a href="javascript:void(0);" data-toggle="collapse" class="btn btn-primary operate_buttons" id="btnExportData">Export</a>
                    <a href="javascript:void(0);" class="btn btn-primary operate_buttons" name="btnDays">Last 1days</a>
                    <a href="javascript:void(0);" class="btn btn-primary operate_buttons" name="btnDays">Last 3days</a>
                    <a href="javascript:void(0);" class="btn btn-primary operate_buttons" name="btnDays">All</a>
                </div>
                <div class="row" id="btn_info_row" style="display:none;">
                    <div class="col-sm-5">
                    </div>
                    <div class="col-sm-7">
                        <div id="fixed_div" class="pull-right">
                            <input type="button" name="btnoperate" class="btn btn-warning operate_buttons" attr_id="@((int)WaferSelection.Hold)" value="Hold" />
                            <input type="button" name="btnoperate" class="btn btn-warning operate_buttons" attr_id="@((int)WaferSelection.Release)" value="Release" />
                            <input type="button" name="btnoperate" class="btn btn-warning operate_buttons" attr_id="@((int)WaferSelection.Ink)" value="Ink&rls" />
                            <input type="button" name="btnoperate" class="btn btn-warning operate_buttons" attr_id="@((int)WaferSelection.Split)" value="Split&rls" />
                            <input type="button" name="btnoperate" class="btn btn-warning operate_buttons" attr_id="@((int)WaferSelection.RMA)" value="RMA" />
                            <input type="button" name="btnoperate" class="btn btn-warning operate_buttons" attr_id="@((int)WaferSelection.Scrap)" value="Scrap" />
                            <input type="button" name="btnoperate" class="btn btn-warning operate_buttons" attr_id="@((int)WaferSelection.Others)" value="Others" />
                        </div>
                    </div>

                </div>
                <form method="post" id="frmQuery" data-ng-controller="getAllLotTable">
                    <input type="hidden" name="LastDays" id="hidLastDay" value="0" />
                    <input type="hidden" name="SearchType" value="@(ViewData["searchType"]==null?"":ViewData["searchType"].ToString())" />
                    <input type="hidden" name="TransformID" value="@(ViewData["transformID"]==null?"":ViewData["transformID"].ToString())" />
                    <input type="hidden" id="orderBy" name="OrderBy" value="CreateDate" />
                    <input type="hidden" id="desc" name="OrderDesc" value="true" />
                    <input type="hidden" id="hidstatus" name="HidStatus" value="" />
                    <input type="hidden" id="hidstatustext" value="" />

                    <input type="hidden" id="hidwaferids" name="hidwaferids" value="" />
                    <input type="hidden" id="hidlotids" name="hidlotids" value="" />

                    <div class="table-responsive">
                        <div class="dataTables_wrapper form-inline dt-bootstrap">
                            <table class="table table-striped table-bordered table-hover table-query" role="grid" style="table-layout:inherit !important;">
                                <thead>
                                    <tr role="row">
                                        <td><input type="checkbox" class="boxclass" id="checkall" ng-click="checkAll()" ng-model="all" /></td>
                                        <th id="thProductName" data-orderby="ProductName" data-desc="true">Product<span></span></th>
                                        <th id="thLotId" data-orderby="LotId" data-desc="true">Lot Id<span></span></th>
                                        <th id="thWaferID" data-orderby="WaferID" data-desc="true">Wf Id<span></span></th>
                                        <th id="thVendor" data-orderby="Vendor" data-desc="true">OSAT<span></span></th>
                                        <th id="thStatus" data-orderby="Status" data-desc="true">Status<span></span></th>
                                        <th id="thHoldReason" data-orderby="HoldReason" data-desc="true" style="overflow:hidden">Hold Reason<span></span></th>
                                        <th id="thYield" data-orderby="Yield" data-desc="true">Yield<span></span></th>
                                        <th id="thCompletionDate" data-orderby="CompletionDate" data-desc="true">Completion Date<span></span></th>
                                        <th @*ng-if="@ispeqa==1"*@ id="thPEDispose" data-orderby="PEDispose" data-desc="true">PE Dispose<span></span></th>
                                        <th @*ng-if="@ispeqa==1"*@>PE Comment</th>
                                        @*<th ng-if="@ispeqa==1" id="thQADispose" data-orderby="QADispose" data-desc="true">QA Dispose<span></span></th>
                                            <th ng-if="@ispeqa==1">QA Comment</th>
                                            <th id="thSPRDDecision" data-orderby="SPRDDecision" data-desc="true">SPRD Dispose<span></span></th>*@
                                        <th>Vender Comment</th>

                                    </tr>
                                    <tr class="collapse" id="QueryTr">
                                        <td></td>
                                        <td><input id="textProductName" name="ProductName" type="text" class="p80" /></td>
                                        <td><input id="textLotId" name="LotId" type="text" class="p80" /></td>
                                        <td><input id="textWaferID" name="WaferID" type="text" class="p80" /></td>
                                        <td>
                                            <select id="textVendor" name="Osat" class="p80">
                                                <option selected value="">&nbsp;</option>
                                                @{
                                                    foreach (Vendors item in Model)
                                                    {
                                                        <option value="@item.VendorID">@item.VendorName</option>
                                                    }
                                                }
                                                @*<option value="Amkor">Amkor</option>
                                                    <option value="SCC">SCC</option>*@
                                            </select>
                                        </td>
                                        <td>
                                            <select id="textStatus" name="Status">
                                                <option value=""></option>
                                                @*<option value="@((int)WaferStatus.WaitQA)">WAIT QA</option>*@
                                                <option value="@((int)WaferStatus.WaitPE)">WAIT PE</option>
                                                @*<option value="@((int)WaferStatus.WaitQAPE)">WAIT QA & PE</option>*@
                                                <option value="@((int)WaferStatus.WaitVendor)">Wait Vendor</option>
                                                <option value="@((int)WaferStatus.WaitPEVendor)">Wait PE&Vendor</option>
                                                <option value="@((int)WaferStatus.Close)">Close</option>
                                            </select>
                                        </td>
                                        <td><input id="textHoldReason" name="HoldReason" type="text" class="p80" /></td>
                                        <td><input id="textYield" name="Yield" type="text" class="p80" /></td>
                                        <td><input id="textCompletionDate" name="CompletionDate" type="text" style="width:90%;" /></td>
                                        <td @*ng-if="@ispeqa==1"*@>
                                            <select id="textPEDispose" name="PEDispose">
                                                <option value=""></option>
                                                <option value="@((int)WaferSelection.Hold)">Hold</option>
                                                <option value="@((int)WaferSelection.Release)">Release</option>
                                                <option value="@((int)WaferSelection.Ink)">Ink&rls</option>
                                                <option value="@((int)WaferSelection.Split)">split&rls</option>
                                                <option value="@((int)WaferSelection.RMA)">RMA</option>
                                                <option value="@((int)WaferSelection.Scrap)">Scrap</option>
                                                <option value="@((int)WaferSelection.Others)">Others</option>
                                            </select>
                                        </td>
                                        <td @*ng-if="@ispeqa==1"*@><input id="textPEComment" name="PEComment" type="text" class="p80" /></td>
                                        @*<td ng-if="@ispeqa==1">
                                                <select id="textQADispose" name="QADispose">
                                                    <option value=""></option>
                                                    <option value="@((int)WaferSelection.Hold)">Hold</option>
                                                    <option value="@((int)WaferSelection.Release)">Release</option>
                                                    <option value="@((int)WaferSelection.Ink)">Ink&rls</option>
                                                    <option value="@((int)WaferSelection.Split)">split&rls</option>
                                                    <option value="@((int)WaferSelection.RMA)">RMA</option>
                                                    <option value="@((int)WaferSelection.Scrap)">Scrap</option>
                                                    <option value="@((int)WaferSelection.Others)">Others</option>
                                                </select>
                                            </td>
                                            <td ng-if="@ispeqa==1"><input id="textQAComment" name="QAComment" type="text" class="p80" /></td>

                                            <td>
                                                <select id="textSPRDDecision" name="SPRDDecision">
                                                    <option value=""></option>
                                                    <option value="@((int)WaferSelection.Hold)">Hold</option>
                                                    <option value="@((int)WaferSelection.Release)">Release</option>
                                                    <option value="@((int)WaferSelection.Ink)">Ink&rls</option>
                                                    <option value="@((int)WaferSelection.Split)">split&rls</option>
                                                    <option value="@((int)WaferSelection.RMA)">RMA</option>
                                                    <option value="@((int)WaferSelection.Scrap)">Scrap</option>
                                                    <option value="@((int)WaferSelection.Others)">Others</option>
                                                </select>
                                            </td>*@
                                        <td><input id="textVendorComment" name="VendorComment" type="text" class="p80" /></td>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="u in data.rows" id="{{u.ID}}">

                                        <td><input type="checkbox" class="boxclass" id="chk_{{u.ID}}" ng-model="u.check" attrwafer="{{u.ID}}" attrlot="{{u.TransformID}}" /></td>
                                        <td>{{u.ProductName}}</td>
                                        <td>{{u.LotId}}</td>
                                        <td>
                                            <div ng-if="u.IsTriggered==true"><span style="color:red;">{{u.WaferID}}</span></div>
                                            <div ng-if="u.IsTriggered!=true">{{u.WaferID}}</div>
                                        </td>
                                        <td>{{u.Vendor}}</td>
                                        <td>{{u.StatusText}}</td>
                                        <td style="height:30px;width:260px;text-align:left;">
                                            <div class="css4">{{u.HoldReason}}</div>
                                        </td>
                                        <td>{{u.Yield|number:2}}%</td>
                                        <td>{{u.CompletionDate|date:'yyyy/MM/dd HH:mm'}}</td>
                                        <td @*ng-if="@ispeqa==1"*@ id="pedispose_{{u.ID}}" attr_id="{{u.ID}}" attr_text="{{u.PEDisposeText}}">{{u.PEDisposeText}}</td>
                                        <td ng-if="@ispeqa==1" style="text-align:left;height:30px;width:100px;border-bottom:0px;border-left:0px;" title="{{u.PEComment}}">
                                            <div ng-if="@roleType==2">
                                                <textarea style="line-height: 10px;" name="petxtcomment_{{u.ID}}" placeholder="Please Enter Comment">{{u.PEComment}}</textarea>
                                            </div>
                                            <div ng-if="@roleType!=2" class="css3">
                                                {{u.PEComment}}
                                            </div>
                                        </td>
                                        <td ng-if="@ispeqa!=1">
                                            <div class="css3">
                                                {{u.PEComment}}
                                            </div>
                                        </td>
                                        @*<td ng-if="@ispeqa==1" id="qadispose_{{u.ID}}" attr_id="{{u.ID}}" attr_text="{{u.QADisposeText}}">{{u.QADisposeText}}</td>
                                             <td ng-if="@ispeqa==1" style="text-align:left;height:50px;width:100px;border-bottom:0px;border-left:0px;border-right:0px;"  title="{{u.QAComment}}">
                                                 <div ng-if="@roleType==3">
                                                     <textarea   name="qatxtcomment_{{u.ID}}" placeholder="Please Enter Comment">{{u.QAComment}}</textarea>
                                                 </div>
                                                 <div ng-if="@roleType!=3"  class="css3">
                                                     {{u.QAComment}}
                                                 </div>
                                            </td>
                                             <td>{{u.SPRDDecisionText}}</td>*@
                                        <td ng-if="@ispeqa==1" style="text-align:left;height:30px;width:100px;border-bottom:0px;border-left:0px;border-right:0px;" title="{{u.VendorComment}}">
                                            <div class="css3">{{u.VendorComment}}</div>
                                        </td>
                                        <td ng-if="@ispeqa==2">
                                            <textarea style="width:100%;height:95%" name="vendortxtcomment_{{u.ID}}" placeholder="Please Enter Comment">{{u.VendorComment}}</textarea>
                                        </td>

                                    </tr>
                                    <tr id="loadingLots">
                                        <td colspan="45" style="text-align:left">
                                            <div><img src="~/images/loading.gif" /></div>
                                            <div>Loading...</div>
                                        </td>
                                    </tr>
                                    <tr id="lotsNotFound" style="display:none">
                                        <td colspan="45" style="text-align:left">
                                            No lots found.
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row" id="btn_info_confirm" style="padding-top:10px;">
                        <div class="col-sm-5">
                        </div>
                        <div class="col-sm-7">
                            <div class="pull-right" style="width:500px;">
                                <input type="button" id="btnconfirm" class="btn btn-warning btn-block operate_buttons" value="Confirm" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                        </div>
                        <div class="col-sm-7">
                            <div class="pager-row">
                                <div id="pager">
                                </div>
                                <div id="custom-pager" class="pull-right">
                                    <span><span class="currentPage"></span>/<span class="totalPages"></span></span>
                                    <div class="input-group custom-item">
                                        <input type="number" class="form-control pageNum" min="1" value="1">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary btn-sm goPage" type="button">Go</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

